.div {
	width: 100vw;
	max-width: 500px;
	height: 100vh;
	margin: auto;
	padding: 0;
	background-color: #fff;
}

.div h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	font-family: var(--primary-font);
	margin-bottom: 20px;
	color: var(--color-primary);
}

.div h1 img {
	height: 50px;
	width: 50px;
	margin-right: 5px;
}

.div h2 {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.form {
	width: 90%;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form label {
	font-weight: 600;
	display: block;
	color: #333333;
	margin-bottom: 14px;
}

.form .input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.form .input:last-child {
	margin-bottom: 25px;
}

.form .submit_btn {
	width: 100%;
	display: block;
}

.background {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	background: url("../img/login.jpg") no-repeat center center;
	background-size: cover;
	overflow: scroll;
}

.div {
	max-height: 500px;
	padding-top: 5vh;
}

.div h1 {
	font-size: 25px;
}