.container {
	background-image: url("https://smcore.blob.core.windows.net/logos/akwapolylanding.png");
	background-position: top;
	/* background-attachment: fixed; */
	background-repeat: no-repeat;
	min-height: 100vh;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	background-color: var(--primary);
}

.sectionsContainer {
	max-width: 1280px;
	padding: 20px;
	padding-top: 80px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sectionTextContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.sectionTextContainer h1,
.sectionTextContainer p {
	text-align: center;
	color: var(--white-color);
}

.sectionsContainer section:nth-of-type(1) > * {
	margin-bottom: 20px;
}

.notice {
	display: inline-block;
	background-color: var(--primary);
	color: var(--white-color);
	padding: 5px 15px 5px 12px;
	border-radius: 100px;
	animation: tilt-shaking 0.35s infinite;
	animation-iteration-count: 7;
	font-size: 0.75rem;
}

.notice span {
	display: inline-block;
	border-radius: 100px;
	background-color: var(--light-red);
	color: var(--white-color);
	padding: 5px 10px;
	margin-right: 10px;
	font-size: 0.75rem;
}

.sectionsContainer section:nth-of-type(1) h1 {
	/* color: var(--white-color); */
	line-height: 1.36rem;
}

.sectionsContainer section:nth-of-type(1) p {
	/* color: var(--white-color); */
	font-weight: 300;
	/* line-height: 20px; */
}

.cardsContainer {
	margin-top: 20px;
	padding: 10px;
	width: 100%;
	/* max-width: 872px; */
	background-color: var(--neutral-20);
	border-radius: 12px;
}

.card {
	display: inline-block;
	background: var(--white-color);
	border-radius: 6px;
	padding: 40px;
	width: 100%;
}

.card > * {
	margin-bottom: 15px;
}

.card p {
	color: var(--text-neutral);
	font-size: 1rem;
	text-align: left;
}

.cardLinks {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 30px;
}

.cardLinks a {
	text-decoration: none;
	color: var(--primary);
	font-weight: 500;
}

.cardLinks a:hover {
	text-decoration: underline;
	color: var(--text-teal);
}

@keyframes tilt-shaking {
	0% {
		transform: translate(0, 0) rotate(0deg);
	}
	25% {
		transform: translate(5px, 5px) rotate(5deg);
	}
	50% {
		transform: translate(0, 0) rotate(0eg);
	}
	75% {
		transform: translate(-5px, 5px) rotate(-5deg);
	}
	100% {
		transform: translate(0, 0) rotate(0deg);
	}
}

@media (min-width: 768px) {
	.notice,
	.notice span {
		font-size: 1rem;
	}

	.sectionsContainer {
		padding: 40px;
		padding-top: 130px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.sectionsContainer section:nth-of-type(1) > * {
		margin-bottom: 30px;
	}

	.sectionsContainer section:nth-of-type(1) h1 {
		line-height: 63px;
	}

	.sectionsContainer section:nth-of-type(1) p {
		line-height: 25px;
	}

	.sectionTextContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.sectionTextContainer h1,
	.sectionTextContainer p {
		text-align: center;
		color: var(--white-color);
	}

	.cardsContainer {
		margin-top: 60px;
		padding: 20px;
		width: calc(100% - 40px);
		max-width: 872px;
		background-color: var(--neutral-20);
		border-radius: 12px;
	}

	.card p {
		color: var(--text-neutral);
		font-size: 0.85rem;
	}
}

@media (min-width: 1200px) {
	.sectionsContainer {
		padding: 20px;
		padding-top: 160px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.sectionsContainer section:nth-of-type(1) h1 {
		/* width: 70%; */
		font-size: 4.29rem;
		line-height: 70px;
	}

	.sectionsContainer section:nth-of-type(1) p {
		/* width: 55%; */
		font-size: 1.29rem;
	}

	.sectionTextContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.sectionTextContainer h1,
	.sectionTextContainer p {
		text-align: center;
		color: var(--white-color);
	}

	.cardsContainer {
		padding: 64px;
		max-width: 872px;
		width: calc(100% - 128px);
		background-color: var(--neutral-20);
		border-radius: 12px;
	}
}
