.summary-table{
  border: 1px;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
  -webkit-print-color-adjust: exact;
  -moz-print-color-adjust: exact;
  -ms-print-color-adjust: exact;
  print-color-adjust: exact;
}

.summary-table thead td{
  font-weight: 600;
  font-size: 0.64rem;
  background-color: rgb(241, 241, 241);
}

.summary-table tr{
  border: 1px solid var(--border-stoke) !important;
}

.summary-table td{
  border: 1px solid var(--border-stoke) !important;
}

.summary-table td{
  padding: .3rem;
  font-size: 0.64rem;
}

.td-align-center {
  text-align: center;
}
