.page_content {
	margin-top: 52px;
	padding: 28px 22px;
}

.page_content > p {
	font-style: normal;
	font-weight: 450;
	font-size: 1.14rem;
	line-height: 24px;
}

.header > div:nth-child(2) {
	background-color: var(--light-green);
}

.header img {
	width: 81px;
	height: 79px;
}

.header h2 {
	font-weight: 800;
	font-size: 38px;
	line-height: 50px;
	color: var(--primary);
}

.asideWithVCDetails {
	width: 40%;
}

.profile_img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.header h4 {
	font-style: normal;
	font-weight: bold;
	font-size: 1.36rem;
	line-height: 24px;
}

.address > h5 {
	font-style: normal;
	font-weight: 500;
	font-size: 1.14rem;
	line-height: 24px;
}

.address > h6 {
	font-style: normal;
	font-weight: 450;
	font-size: 1rem;
	line-height: 20px;
	margin: 0;
}

.address > h4 {
	font-style: normal;
	font-weight: 450;
	font-size: 1.14rem;
	line-height: 24px;
	margin-top: 72px;
}

.content {
	margin-bottom: 58px;
}

.content h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 1.36rem;
	line-height: 24px;
	text-align: center;
	width: 87%;
	margin-top: 34px;
	margin-bottom: 40px;
}

.content p {
	font-style: normal;
	font-weight: 450;
	font-size: 1.14rem;
	line-height: 24px;
	margin-bottom: 20px;
	text-align: justify;
}

.content span {
	font-size: 1.14rem;
	font-weight: 600;
}

.signature img {
	max-width: 250px;
	width: 100%;
}

.requirement_list {
	list-style: lower-alpha;
	margin-top: -20px;
	margin: 0rem 1rem;
}

.requirement_list li {
	font-style: normal;
	font-size: 1.2rem;
	line-height: 24px;
	margin-bottom: 8px;
	text-align: justify;
}

.requirement_list > li li {
	list-style: lower-alpha inside;
}

.textIndent {
	text-indent: 24px;
}

.barcode_img > * {
	width: 180px;
	margin: 0 auto;
}

.closingSection p {
	text-align: left;
}
