.tableContainer {
	margin-top: 66px;
}

.add_notice_modal_header h3 {
	font-size: 1.14rem;
	font-weight: 700;
	color: var(--light-alt-text-color);
}

.cancel_btn {
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.add_notice_body {
	margin-top: 40px;
}

.delete_modal_container {
	max-width: 584px;
	width: 584px;
	background-color: var(--white-color);
	border-radius: 4px;
}

.delete_modal_header {
	padding: 16px 24px;
}

.delete_modal_header h3 {
	font-size: 1.14rem;
	font-weight: 400;
	color: var(--light-alt-text-color);
}

.delete_modal_body p {
	color: var(--alt-text-color);
	font-size: 1rem;
}

.delete_modal_body span {
	color: var(--danger);
}

.delete_modal_footer {
	padding: 16px 24px;
}

.notice_info h3 {
	font-size: 1rem;
	color: var(--text-color);
}

.notice_info p {
	font-size: 0.86rem;
	color: var(--light-text-color-3);
}

.success_container {
	border: 2px dashed var(--success);
	padding: 24px 24px;
}

.success_container div:nth-child(2) h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 1.36rem;
	line-height: 24px;
}

.success_container div:nth-child(2) h4 {
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 20px;
	margin-bottom: 19px;
}

.success_container div:nth-child(2) p {
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 24px;
}

.progress_bar {
	height: 4px;
	border-radius: 2px;
	background: var(--success);
}

.info-container {
	margin-top: 9px;
}

.personnel-image {
	width: 173px;
}

.info-avatar span {
	font-size: 100px !important;
}

@media (max-width: 1130px) {
	.add_notice_modal {
		width: calc(98% - 80px);
	}

	.delete_modal_container {
		width: 98%;
	}
}
