@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
.auth-background {
  height: 100%;
  background: url("../../../assets/img/login-updated.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

.auth-background .row {
  /* margin-top: 10%; */
  min-height: 100vh;
}

.auth-background .card {
  background-color: white;
  width: 30rem;
}

.auth-background h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
  max-width: 590px;
}

.auth-background p {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  max-width: 436px;
  text-align: justify;
}

.bg_404 {
  background: url("../../../assets/img/Background404.svg");
  font-family: 'Inter', sans-serif;
}

.wrapper_404>h2 {
  font-size: 8em;
  color: #818C8B;
  font-weight: 800;
  font-style: normal;
  line-height: 1em;
}

.wrapper_404>p {
  font-size: 1.5em;
  color: #2D4642;
  font-weight: normal;
  line-height: 32px;
}

.btn_404 {
  width: inherit;
  font-size: 1em;
}

.alert-wrapper {
  z-index: 2 !important;
  margin: auto;
}

.eye-icon {
  position: absolute;
  font-size: x-large;
  bottom: 8px;
  width: max-content;
  left: 87%;
  cursor: pointer;
}