.container {
	background: var(--white-colo);
	border: 1px solid var(--border-stoke);
	border-radius: 8px;
	max-width: 552px;
	margin: 0px auto 80px auto;
	animation: slide-in 0.9s forwards;
	-webkit-animation: slide-in 0.9s forwards;
}

.noteContainer {
	max-width: 552px;
	margin: auto;
}
.noteContainer a{
	font-size: 0.875rem !important;
}

.header,
.paragraph {
	color: var(--text-color);
	text-align: center;
}

.header {
	font-size: 1.5rem;
	line-height: 2rem;
}

.paragraph {
	font-size: 1.1875rem;
	line-height: 1.75rem;
	font-weight: 450 !important;
	text-align: center;
}

.details {
	background: var(--lighter-green);
	border-radius: 8px;
}

.details ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-weight: 700;
}

.details li {
	margin-bottom: 5px;
}

.footer {
	border-top: 1px solid var(--border-stoke);
}

.footer a {
	text-decoration: none !important;
	font-size: 0.875rem;
	color: var(--primary);
}

@keyframes slide-in {
	0% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes slide-in {
	0% {
		-webkit-transform: translateX(-100px);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
