.background {
    background-color: var(--referral-background);
    min-height: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.background h6 {
    color: white;
    font-size: 2vw;
    width: 60%;
    line-height: 1.2;
}

.instruction {
    color: var(--light-text-color) !important;
    line-height: 1.1;
}

.referral_link_card {
    max-width: 500px;
    width: 26vw;
    min-width: 300px;
    height: auto;
    border-radius: 8px;
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.link_holder {
    background-color: var(--disabled);
    padding: 8px 16px;
    border-radius: 4px;
    width: 70%;
}

.copy {
    background-color: var(--disabled);
    padding: 8px 16px;
    border-radius: 4px;
}

.copy p {
    color: var(--home);
}

.copy:hover {
    cursor: pointer;
}

.linkList{
    width: 95%;
    margin: -20px auto 0 auto;
}

.referral_button {
    width: 100%;
    background-color: var(--home);
    outline: none;
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 4px;
}

@media (max-width:768px) {
    .linkList {
        margin-top: 5vw;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .background {
        flex-direction: column;
        padding: 20px;
    }
    .background h6 {
        font-size: 1.5rem;
        width: 100%;
        margin-bottom: 20px;
    }
    .referral_link_card{
        width: 100%;
    }
    .utility{
        justify-content: center !important;
    }
}