.page_content {
	display: flex;
	justify-content: center;
}
.form {
	display: flex;
	justify-content: center;
	padding: 5% 100px 0 100px;
}

.form_content label {
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	line-height: 16px;
}

.courseBadge {
	display: block;
	background-color: var(--neutral-light);
	padding: 5px 10px;
	margin-right: 10px;
}
.courseBadge p {
	color: var(--text-color);
	font-size: 1rem;
	font-weight: 400;
}

.courseBadge img {
	margin-left: 10px;
	cursor: pointer;
}

.spacer {
	flex: 1;
}