.editProfileModal {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1088px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	overflow-y: scroll;
}

.editProfileModal > section {
	width: 100%;
}

.editProfileModal > section:first-of-type > div:nth-of-type(2) {
	height: 450px;
	overflow-y: scroll;
}

.headerDetails {
	font-weight: 450;
	font-size: 0.875rem;
	text-transform: capitalize !important;
}

.topLevelLabel {
	font-weight: 700 !important;
	font-size: 1.2rem !important;
}

.subLevelLabel {
	font-size: 1rem !important;
	font-weight: 500 !important;
}

.borderBottom {
	border-bottom: 1px solid var(--light-gray);
}
