body {
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.activeNavItem {
    background: transparent;
    color: #336cfb;
}

.alert>* {
    margin: 0 !important;
}

.alert {
    position: fixed;
    top: 60px;
}

.alert-align {
    right: 10px;
    z-index: 999 !important;
}

.main-content-wrap {
    margin-top: 50px !important;
}

.cursor {
    cursor: pointer;
}

.img-box {
    width: 70%;
    margin: 2em auto;
}

.button-box {
    display: flex;
    justify-content: space-around;
}

.nameLink {
    text-decoration: underline;
}

/* select.selectpicker {
    display: block !important;
} */

.mode-animation {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.dropdown-menu>.btn {
    justify-content: flex-start;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.searchStringValue {
    width: 100%;
    padding: 1rem;
    transition: background-color 0.35s ease-in-out;
    cursor: pointer;
    background-color: #a9a9a924;
    margin-bottom: 0.4rem;
    border-radius: 5px;
}

.searchStringValue:hover {
    background-color: #c4c4c4;
}

.searchStringValue.active {
    background-color: #336cfb;
    color: white;
}