body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	--color-primary: #191d2d;
	--color-secondary: "#473D40";
	--color-tertiary: "#fff";
	--color-background-primary: #d4ccac;
	--primary-font: "Muli", "Helvetica", "Arial", sans-serif;
	--border-radius-default: 5px;
}

.primary_btn {
	height: 50px;
	background: var(--color-primary);
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: var(--border-radius-default);
	font-weight: 500;
	font-size: 14px;
	color: #fff;
	border: none;
	cursor: pointer;
}

.primary_btn:disabled {
	background: #91a694;
	color: #5c6589;
	mix-blend-mode: normal;
	cursor: not-allowed;
}

.primary_btn:active,
.primary_btn:focus {
	background: #19192d;
	color: #ffffff;
}

.secondary_btn {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: var(--border-radius-default);
	font-weight: 500;
	font-size: 14px;
	height: 50px;
	border: 1px solid var(--color-primary);
	background: transparent;
	color: var(--color-primary);
	cursor: pointer;
}

.secondary_btn:disabled {
	background-color: #e5e5e5;
	border: 1px solid #8b91a7;
	color: #8c92a8;
	cursor: not-allowed;
}

.secondary_btn:active,
.secondary_btn:focus {
	background: transparent;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
}
