.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--white-color);
	padding: 20px;
	text-align: center;
}

.content {
	max-width: 500px;
}

.illustration img {
	width: 200px;
	margin-bottom: 2rem;
}

.title {
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.description {
	color: var(--text-sub-500);
	line-height: 1.6;
	margin-bottom: 2rem;
	font-size: 1rem;
}

.buttonGroup {
	display: flex;
	gap: 12px;
	justify-content: center;
}
